<table class="table">
  <thead class="table-header" data-test-header>
    <tr>
      {{#each @headers as |header|}}
        <th scope="col" class="header-cell">
          {{capitalizeName header.name}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each @rows as |row|}}
      <tr class="table-row" data-test-row>
        {{#each row.property_values as |cell|}}
          <td class="cell">
            {{cell.value}}
          </td>
        {{/each}}
      </tr>
    {{else}}
      <tr data-test-empty-row>No results found</tr>
    {{/each}}
  </tbody>
</table>